a.more-link {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 20px;
  color: #fff;
  font-family: FuturaBold, sans-serif;
  display: inline-block;
  padding: 4px 0 0 27px;
  height: 22px;
  line-height: 14px;
  background: image-url("sprite.png") no-repeat scroll 0 -422px;
}
