@mixin font-stack {
  font-family: FuturaBold, sans-serif;
  text-transform: uppercase;
}

body {
  background-image: image-url("wide.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.height {
  min-height: 100%;
  position: relative;
}

.container {
  @media #{$small-only} {
    padding-bottom: 300px;
  }

  @media #{$medium-up} {
    width: 720px;
    margin: 0 auto;
    padding-bottom: 200px;
  }

  @media #{$large-up} {
    width: 980px;
    margin: 0 auto;
    .row { max-width: 94em; }
  }

  @media #{$xlarge-up} {
    width: 1220px;
    margin: 0 auto;
    .row { max-width: 94em; }
  }

  transition: all 0.2s;

}

ul.bg-image {
  margin: 0;
  padding: 0;

  li {
    position: absolute;
    height: 436px;
    background: #052F53;
    overflow: hidden;
    width: 100%;

    img {
      position: absolute;
      top: 0px;
      display: block;
      max-width: 1600px;
      @media #{$small-only} {
        margin-left: -320px;
        left: 50%;
        max-width: 640px;
      }
      @media #{$medium-only} {
        margin-left: -400px;
        left: 50%;
        max-width: 800px;
      }

      @media (min-width: 768px) {
        margin-left: -512px;
        max-width: 1600px;
      }

      @media #{$large-up} {
        margin-left: -800px;
        left: 50%;
      }

      z-index: 0;
    }
  }
}

.wrap {
  background: #fff;
  position: relative;
  z-index: 5 !important;
  padding: 0px 20px 10px;
  @media #{$medium-only} {padding: 0px 0px 10px 10px;}

  .main-content {
    @media #{$medium-up} {
      border-left: 1px solid $content-border-color;
      border-right: 1px solid $content-border-color;
    }
  }

  .main-content, .main-content-home, .sidebar-right, .sidebar-left {
    padding-top: 14px;
  }
}

.columns.sidebar-right {
  @media #{$medium-only} {
    width: 24%;
    padding: 14px 10px;
  }
  &.home {
    @media #{$medium-only} {
      width: 25%;
    }
  }
  @media #{$large-up} {
    padding-right: 0px;
  }

}

.columns#breadcrumb {
  @media #{$large-up} {
    padding-right: 5px;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include font-stack;
  color: $drexel-blue;
}

.row {
  .row {
    @media #{$small-only} { margin-right: 0.04615rem; }
    @media #{$medium-only} { margin-right: -0.3rem; }
    @media #{$large-up} { margin-right: 0.34615rem; }
  }
}


.logo {
  height: 164px;

  h1.lockup {
    position: absolute;
    top: 37px;
    margin-right: 20px;

    a {
      img {


      }
    }
  }
}
