.wrap-nav {
  position: relative;
  z-index: 100 !important;
  // padding: 0;

  .columns {  padding: 0; };

  @media #{$small-only} {
    padding: 10px 20px;
  }
}

nav.top-bar {
  -webkit-box-shadow: 0px 0px 7px rgb(0, 0, 0);
  box-shadow: 0px 0px 7px rgb(0, 0, 0);

  @media #{$medium-up} {
    height: 55px;
  }
  @media #{$small-only} {
    height: 37px;
  }
  ul.title-area {
    li.name {

      h1 {
        font-size: 23px;
        line-height: 37px !important;
        background: $drexel-blue image-url("sprite.png") right -93px no-repeat;
      }

      @media #{$small-up} { 
        display: none;
      }

      @media #{$small-only} { 
        display: block;
      }
    }
  }

  .top-bar-section {
    .centerthis {
      float: none !important;
      display: block;
      width: 500px;
      margin: 0 auto;
      @media #{$small-only} { width: 100%; }
    }

    li.has-dropdown {
      a {
        @include font-stack;
        color: #fff;
        padding: 20px 30px 21px !important;
        font-size: 14px;
        line-height: 14px;
        // @media #{$small-only} {}
        &::after { display: none; }
        &.active { color: $drexel-yellow; }
        &:hover { color: $drexel-yellow; }
      }
      ul.dropdown {
        li {
          width: 200px;
          a {
            padding: 10px 25px 10px !important;
            font-size: 12px;
            font-family: Arial, sans-serif;
            text-transform: none;
            white-space: normal;
            &.active { color: $drexel-yellow; }
          }
        }
        li:last-child {
          a {
            padding-bottom: 20px !important;
          }
        }
      }
    }
  }
}

nav.breadcrumb {
  height: 39px;
  padding: 10px 0;
  margin-bottom: 0px;
  border-bottom: 1px solid $content-border-color;

  ul {
    margin-left: 0px;

    li {
      display: inline;
      padding: 0px 4px;
      font-size: 11px;

      a {
        font-size: 11px;
      }
    }
  }
}

.sidebar-left {
  padding-right: 0px;
}

nav.nav-sidebar {
  padding-top: 11px;

  h1 {
    font-size: 23px;
    line-height: 23px;
    margin-bottom: 10px;
  }

  ul {
    margin: 0px;
    li {
      list-style: none;
      border-bottom: 1px solid $content-border-color;

      &:first-child {
        border-top: 1px solid $content-border-color
      }

      a {
        display: block;
        padding: 10px 0 10px 10px;
        @media #{$large-up} {
         padding-left: 20px;
        }
        color: #000;
        font-weight: bold;
        position: relative;
        top: -1px;
        margin-bottom: -2px;
        line-height: 18px;

        &.active, &:hover {
          background-color: $drexel-yellow;
        }   
      }
    }
  }
}
