@font-face {
  font-family: FuturaBold;
  src: url("http://www.biomed.drexel.edu/new04/Content/fonts/FuturaStd-CondensedBold.otf") format("opentype"),
       url('http://www.biomed.drexel.edu/new04/Content/fonts/FuturaStd-CondensedBold.eot'), /* IE9 Compat Modes */
       url('http://www.biomed.drexel.edu/new04/Content/fonts/FuturaStd-CondensedBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.biomed.drexel.edu/new04/Content/fonts/FuturaStd-CondensedBold.woff') format('woff'), /* Modern Browsers */
       url('http://www.biomed.drexel.edu/new04/Content/fonts/FuturaStd-CondensedBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.biomed.drexel.edu/new04/Content/fonts/FuturaStd-CondensedBold.svg#97efe9f156711da26e30d793e1abb77c') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  700;
}

$content-border-color: #e1e1e0;
$footer-border-color: #d6a831;
$drexel-blue: #07294D;
$drexel-yellow: #ffc600;

@mixin font-stack{
  font-family: FuturaBold, sans-serif;
  text-transform: uppercase;
} 

body {
  background-image: url("http://drexel.edu/~/media/Images/coresite/backgrounds/colored-backgrounds/blue-bg/wide.ashx");
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  min-height: 100%;
  position: relative;

  @media #{$small-only} {
    padding-bottom: 300px;
  }
  @media #{$medium-up} {
    padding-bottom: 150px;
  }
}

ul.bg-image {
  margin: 0;
  padding: 0;

  li {
    position: absolute;
    height: 436px;
    background: #052F53;
    overflow: hidden;
    width: 100%;

    img {
      position: absolute;
      top: 0px;
      left: 50%;
      display: block;
      margin-left: -800px;
      max-width: 1600px;
      @media #{$small-only} {
        margin-left: -320px;
        max-width: 640px;
      }
      @media #{$medium-only} {
        margin-left: -400px;
        max-width: 800px;
      }

      z-index: 0;
    }
  }
}

.wrap {
  background: #fff;
  position: relative;
  z-index: 5 !important;
  padding: 10px 20px 10px;

  .main-content {
    @media #{$medium-up} {
      border-left: 1px solid $content-border-color;
      border-right: 1px solid $content-border-color;
    }
  }

  .main-content-home {
    @media #{$medium-up} {
      border-right: 1px solid $content-border-color;
    }
  }

  // HEIGHT OF THE FOOTER
  .main-content, .main-content-home {
    

  }

  .main-content, .main-content-home, .sidebar-right, .sidebar-left {
    padding-top: 14px;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include font-stack;
  color: $drexel-blue;
}

.logo {
  height: 164px;

  h1.lockup {
    position: absolute;
    top: 37px;
    margin-right: 20px;

    a {
      img {


      }
    }
  }
}

@import "nav";

footer.footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #ffc600;
  @media #{$medium-up} {
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.8);
    box-shadow: 0 0 20px rgba(0,0,0,.8);
  }

  img.live-it {
    margin-top: 20px;
    @media #{$small-only} {
      padding: 20px 0px;
    }
  }
  
  ul.inline {
    margin: 28px 0 0;


    li {
      display: inline;
      border-right: 1px solid $footer-border-color;
      &:last-child { border: none; }

      a {
        padding: 0px;
        padding-left: 4px;
        padding-right: 6px;
        color: #333;
        font-size: 11px;
      }
    }
  }
  
  ul.inline.social {
    margin: 0px;

    li {
      border: none;
      padding: 0px;

      a {
        padding: 0px;
      }
    }
  }

  p {
    color: #333;

    &.address {
      margin: 7px 0;
    }

    &.social-label {
      margin: 10px 0 5px;
      margin-bottom: 0px;
      font: 11px/1 Arial, sans-serif;
    }
  }


  #skinny-nav {
    border-top: 1px solid $footer-border-color;
  }
}

.white {
  @media #{$small-only} {
    background-color: #fff;
  }
}

.icon {
  height:30px;
  width:30px;
  display:inline-block;
  *display:block;
  *float:left;
  background-image:url(http://drexel.edu/~/media/Images/coresite/ui/sprite.ashx);
  background-repeat:no-repeat;
}


.social-blue .duicon-facebook { 
  background-position:-54px -247px; 
}
.social-blue .duicon-twitter { 
  background-position:-84px -247px; 
}
.social-blue .duicon-flickr { 
  background-position:-114px -247px; 
}
.social-blue .duicon-youtube { 
  background-position:-144px -247px; 
}
