---
title: Research Overview
layout: layout-2-col-left-nav
---

%h1 Research
%h2 Intro to Ultrasound Healing
= image_tag "therapeutic_ultrasound_patch.jpg", style: "width: 200px;", class: "right"
%p.lead
  Our research team has developed a wearable, portable ultrasound transducer which is capable of delivering therapeutic levels of 20 kHz ultrasound for the purpose of treating venous ulcers.  Over 500,000 patients are treated for venous ulcers annually and this treatment constitutes approximately 1% of total health care costs in the western world.  Multiple factors contribute to the delayed healing of venous ulcers including ambulatory venous hypertension often associated with venous reflux, poor nutrition, advancing age, smoking, and medical compliance (i.e. following physician’s guidelines and recommendations).
%p.lead
  The direct wound care cost associated with venous ulcers exceeds $2,400 per month, but also is associated with indirect costs due to limited productivity and quality of life issues related to pain and depression. New therapies are needed to both directly help patients and to decrease the costs related to these wounds. It is our hope that low-intensity, low-frequency ultrasound can meet this clinical need.  Our team has conducted clinical pilot studies involving patients suffering from venous ulcers.  Our studies have shown that the ultrasound treated ulcers healed statistically faster than untreated (control sham group) ulcers.  Our lab has also conducted in-vitro studies investigating the effects of ultrasound on endothelial cells, macrophages, and fibroblasts in an effort to further understand the exact mechanism of action behind ultrasound assisted wound healing.

%h2 Intro to Diagnostic Optics
= image_tag "diagnostic_optics.jpg", style: "width: 200px;", class: "right"
%p.lead
  Our team has a history of using Diffuse Near Infrared Spectroscopy (DNIRS) and Diffuse Correlation Spectroscopy (DCS) as they relate to vascular disease.  The DNIRS system is a technique to quantify the amounts of oxygenated and deoxygenated hemoglobin under the surface of the skin, up to several centimeters. The DCS system quantifies the movement of red blood cells in the capillaries of a given region of tissue.
%p.lead
  Since 2006, our team has assessed diabetic ulcers with DNIRS, whereupon we determined that diabetic ulcers have an elevated level of total and oxygenated hemoglobin in comparison to non-ulcerated tissue.  Wounds which heal show a trend of decreased total and oxygenated hemoglobin each week, trending towards the non-ulcerated tissue.  Wounds wherein the levels of oxygenated and total hemoglobin remain elevated tend to not heal.  With this sorting method, the sensitivity of our optical system was 0.9 with a specificity of 0.86.  More recent work has focused on venous ulcers upon which measurements were taken with our DCS system.  Much like diabetic ulcers, venous ulcers appeared to have elevated flow compared to non-ulcerated tissue, and healing ulcers tended to have a reduction in this blood flow over time.  Finally, our lab has recently conducted a pilot study using DCS to evaluate arterial compliance as it relates to Peripheral Arterial Disease (PAD) and cigarette smoking.  Our results indicate that DCS could be used to stage PAD and distinguish smokers from nonsmokers entirely by measuring the capillary flow before, during, and after compression with a blood pressure cuff on the leg of the patient.
