---
title: Recent News
layout: layout-2-col-left-nav
---
%h3 Recent News
.right{style: "width: 300px; padding: 10px;"}
  = image_tag "elevator-pitch-olivia.png", :style => "width: 300px; margin-bottom: 10px;"
  %p
    Women in Engineering Elevator Pitch Event at IEEE IUS
  %p
    %em Left to right: Alycen Wiacek from Johns Hopkins University, Muyinatu Bell, Assistant Professor of Electrical and Computer Engineering at Johns Hopkins University, Olivia Ngo from Drexel University

%p
  %em November, 2018
  %br
  %strong Olivia Ngo participated in the <a href="https://ieee-uffc.org/news/women-engineering-elevator-pitch-event-ieee-ius/">first Women in Engineering (WIE) Elevator Pitch Event at IEEE IUS this year</a>. 

%p
  %em August, 2018
  %br
  %strong Olivia Ngo recieved an BMES Career Development Travel Award to attend the BMES 2018 Annual Meeting in Atlanta, GA and an International Travel Award from Drexel to attend the the IEEE International Conference in Kobe, Japan.
%p
  %strong At the BMES 2018 Annual Meeting in Atlanta, GA, the research team will be presenting 2 posters (see below) and the research team will also be attending the IEEE International Conference in Kobe, Japan.
%ul
  %li
    %strong Abstract Title: Low-frequency (20 kHz), Low-intensity (100 mW/cm2) Ultrasound Accelerates Healing in Diabetic Chronic Wound Pilot Study
    %br
    Authors: Olivia Ngo, Vivinya Gunasekaran, Evan Neimann, Prabagar Sankar, Alec Lafontant, Sumati Nadkarni, Rose Ann DiMaria-Ghalili, Michael Neidrauer, Leonid Zubkov, Michael Weingarten, David Margolis, Peter Lewin
  %br
  %li
    %strong Abstract Title: Wearable Ultrasound Patch for Therapeutic Applications
    %br
    Authors: Vivinya Gunasekaran, Olivia Ngo, Evan Niemann, Prabagar Sankar, Alec Lafontant, Rose Ann DiMaria-Ghalili, Dr. Michael Neidraeur, Dr. David Margolis, Dr. Leonid Zubkov, Dr. Michael Weingarten, Dr. Peter Lewin
