---
title: Contact Us
layout: layout-2-col-left-nav
---

%h1 Contact
%p.lead
  %strong Dr. Peter A. Lewin, MSc, PhD
%p
  Richard B. Beard Distinguished University Professor of Electrical and Biomedical Engineering <br>
  Director, Biomedical Ultrasound Research and Education Center.
%p
  Email:
  = mail_to "lewinpa@drexel.edu"
%p
  Office: Bossone 7-701
%p Phone: 215.895.2361
%p Fax: 215.895.4983