/ Foundation 3 for IE 9 and earlier
= surround "<!--[if lte IE 8]>", "<![endif]-->" do
  = javascript_include_tag "foundation-3"

/ Foundation 5 for IE 10 and up 
= surround "<!--[if gte IE 9]><!-->", "<!--<![endif]-->" do
  = javascript_include_tag "foundation-5"