%ul
  - data.pages.select do |page|
    - if page.title == current_page.data.title
      %li= link_to "#{page.title}", page.url

      %ul
        - page.sub_pages.each do |sub|
          %li= link_to "#{sub.title}", page.url + "/" + sub.url

        