%h1= current_page.data.title

- data.pages.select do |page|
  - if page.title == current_page.data.title
    %ul
      - page.sub_pages.each do |sub|
        %li= link_to "#{sub.title}", "#"
        / %li= link_to "#{sub.title}", page.url + "/" + sub.url