.home-panel
  %h3 Recent Publications
  %ul.unstyled
    %li
      %strong Development of low frequency (20-100 kHz) clinically viable ultrasound applicator for chronic wound treatment
      %br
      %em IEEE Transactions on Ultrasonics, Ferroelectrics, and Frequency Control. 2018.
    %li
      %strong Effects of nonthermal, noncavitational ultrasound exposure on human diabetic ulcer healing and inflammatory gene expression
      %br
      %em Ultrasound in Medicine and Biology, 2018
  = link_to "Publications List", "publications/list", class: "more-link", style: "font-size: 1.2em;"