---
title: Home
---
  
.row
  .twelve.large-12.columns
    %ul.bxslider
      %li= tag :img, src: "http://placehold.it/500x335&text=one", title: "This is a caption"
      %li= tag :img, src: "http://placehold.it/500x335&text=two", title: "This is a caption"
      %li= tag :img, src: "http://placehold.it/500x335&text=three", title: "This is a caption"
      %li= tag :img, src: "http://placehold.it/500x335&text=four", title: "This is a caption"